.navbar {
    background-color: #333;
    font-family: Arial;
    margin-bottom: 0;
    border-radius: 0;
}
.page-header{
    text-align:center;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: center;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
}
.navbar a:hover, .dropbtn {
    background-color: #555;
}
.dropbtn{
    width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}
.row.content {height: 450px}
.dropdown-content a {
    float: none;
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.sidenav{
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
