.navbar {
    background-color: #333;
    font-family: Arial;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar .col-md-3{
    border-right: 1px groove white;
}
.page-header{
    text-align:center;
    border-bottom: 0 none;
}    
p {
    line-height: 1.75 ;
}
p a{    
    text-decoration: underline;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.caption, .caption a{
    text-align:center;
    color: grey;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dropdown {
    display:table;
}

.question {
    font-weight: bold;
}
.option{
    font-weight: normal;
    vertical-align: middle; 
    font-size: 1.9rem;
}
.result{
    font-weight: normal;
    vertical-align: middle; 
    font-size: 1.9rem;
}
.input{
    transform: scale(1.2); 
    vertical-align: middle; 
}
.testbutton{
    font-size: 16px;
    color: white;
    background-color: #555555;
    padding: 14px 16px;
    font-family: inherit; 
    min-width: 75%;
    margin-top:10%;
    transition-duration: 0.4s;
}

.testbutton:hover{
    background-color: black;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    min-width: 100%;
}
.indented{
    margin-left:5%;
}
img { 
    border:1px solid grey;
 }
.navbar a:hover, .dropbtn {
    background-color: #555;
}
html, body {
    max-width: 100%;
    resize: none;
    overflow-x: hidden;
    height: 100%;
}
.column {
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}
dt{
    font-size: 20px;
}
li, dd{
    font-size: 16.5px;
}
.col-md-3{
    padding:0px;
}
.footertext{
    top: 50%;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.footertext a{
    color:black;
}
.row.content {
    overflow: hidden;
}
p{
    font-size: 17px;
}
.dropdown-content a {
    float: none;
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #555;
}
.filler{
    height: 25px;
    background-color: #f1f1f1;
}
footer{
    background-color: #f1f1f1;
    height:25px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: #555;
}
.sidenav{
    padding-top: 20px;
    background-color: #f1f1f1;
}
@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
}

